body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #151923;
}
body::-webkit-scrollbar-track {
  background-color: #424242;
}
body::-webkit-scrollbar {
  background-color: #686868;
}
body::-webkit-scrollbar-thumb {
  background-color: #555;
}

/* movie navbar */
.navbar.transparent-navbar  {
  background: rgba(0, 0, 0, 0) !important;
  width: 100%;
}
.navbar.black-navbar {
  background: black;
  width: 100%;
}
.navbar .nav-link {
  color: white !important;
  font-weight: bold;
}
.loader-conttainer {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.movie-home {
  background-color: #151923;
  min-height: 100vh;
  border: 1px solid;
}
.swiper{
  padding: 10px 0px !important;
}

.movie-title,.cast-name {
  white-space:pre;
  overflow:hidden;
  text-overflow: ellipsis;
  color: white;
}
.title {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.title h3 {
  color: white
}
.title a {
  color: white;
  text-decoration: none;
}
.explore-more {
  font-size: 25px;
}
.swiper-scrollbar-drag {
  background: #0D6EFD !important;
}
/* movie banner */
.movie-banner-section {
  height: 80vh;
}
.swider-movie-banner .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}
.swider-movie-banner .movie-banner-title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 56px;
}

.swider-movie-banner .movie-banner-subtitle {
  font-size: 21px;
}

.swider-movie-banner .movie-banner-text {
  font-size: 20px;
  max-width: 400px;
  line-height: 1.3;
}
.swider-movie-banner .button Button {
  width: 200px;
  margin-top: 15px;
}

@media only screen and (max-width: 1224px) {
  .movie-banner-section {
    height: 60vh;
  }
  .swider-movie-banner .movie-banner-text{
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .movie-banner-section {
    height: 40vh;
  }
  .swider-movie-banner .movie-banner-text{
    display: none;
  }
  .swider-movie-banner .movie-banner-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 640px) {
  .movie-banner-section {
    height: 30vh;
  }
  .swider-movie-banner .movie-banner-title {
    font-size: 15px;
  }
  .swider-movie-banner .movie-banner-subtitle {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .swider-movie-banner .movie-banner-title {
    font-size: 10px;
  }
  .swider-movie-banner .movie-banner-subtitle {
    display: none;
  }
  .swider-movie-banner .button Button {
    border: 1px solid red;
  }
}
/* movie detail */
.movie-detail {
  background-color: #151923;
  min-height: 100vh;
  border: 1px solid;
}
.movie-detail .movie-detail-info{
  min-height: 80vh;
  display: grid;
  place-content: center;
  background-blend-mode: darken;
}
.movie-detail .card{
  background-color: rgba(255, 255, 255, 0);
  color: white !important;
  border: none;
}


/* cast detail */
.cast-detail {
  background-color: #151923;
  min-height: 100vh;
  border: 1px solid;
}
.cast-detail .card{
  background-color: rgba(255, 255, 255, 0);
  color: white !important;
  border: none;
}
.cast-detail .card{
border: 0 !important;
background-color: rgba(255, 255, 255, 0);
}
.cast-detail .container {
  margin-top: 56px;
}

.search-results{
  background-color: #151923;
  min-height: 100vh;
  border: 1px solid;
}
.search-results .container {
  margin-top: 56px;
}
.icon-404 svg{
  font-size: 350px;
  color: white;
}
.not-found {
  display: grid;
  place-items: center;
  min-height: 50vh;
}
.search-results .card{
  cursor: pointer;
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-decoration: none;
}
.search-results .card .card-body{
  text-align: center;
  max-height: 64px;
}
.search-results .card .card-body .card-title{
  white-space:pre;
  overflow:hidden;
  text-overflow: ellipsis;
}
.search-results .card .card-body{
  text-align: center;
}

.filter-movies {
  background-color: #151923;
  min-height: 100vh;
  border: 1px solid;
}
.filter-movies .card{
  cursor: pointer;
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-decoration: none;
}
.filter-movies .container {
  margin-top: 56px;
}
.filter-movies .card .card-body{
  text-align: center;
  max-height: 64px;
}
.filter-movies .card .card-body .card-title{
  white-space:pre;
  overflow:hidden;
  text-overflow: ellipsis;
}
.filter-movies .card .card-body{
  text-align: center;
}

.form-select {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}